<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/all.min.css">
	<link rel="stylesheet" href="/styles/docs-styles.css">
</head>
<body>

	{% include "./settings.html" %}

	<div class="view-docs">
		<div class="view-docs-nav">
			<div class="title-block">
				<h1>{{ title }}</h1>
			</div>
			<div class="nav-list">
				
				{% for item in navList %}
				  	<a href="#{{item.href}}">
				  		<i class="fas fa-link"></i>
				  		{{ item.title }}
					</a>

					{% if item.subNav != null %}
						
						{% for item in item.subNav %}
						  	<a class="sub-nav" href="#{{item.href}}">
						  		<i class="fas fa-angle-right"></i>
						  		{{ item.title }}
							</a>

						{% endfor %}

					{% endif %}

				{% else %}
				  <h2>No navigation</h2>
				{% endfor %}

			</div>
			<div class="footer-nav">
				<i class="fas fa-sliders-h"></i>
				<h2>Settings</h2>
			</div>
		</div>
		<div class="view-docs-content">

			{% for item in navList %}

				{% include "./view-section.html" %}

				{% if item.subNav != null %}
					
					{% for item in item.subNav %}

					  	{% include "./view-section.html" %}

					{% endfor %}

				{% endif %}

			{% else %}
			  <h2>No content</h2>
			{% endfor %}

		</div>
	</div>

	<script src="/scripts/docs.js"></script>

</body>
</html>