<div class="settings-block">
	<div class="settings-block-content">
		<div class="settings-block-content-head">
			<h3>Settings modal</h3>
			<i class="fas fa-times"></i>
		</div>
		<div class="settings-content">
			<div class="settings-content-left">
				<span>Token</span>
			</div>
			<div class="settings-content-right">
				<h2>Token</h2>
				<input type="text" placeholder="Token" class="token-input">
			</div>
		</div>
	</div>
</div>