<div class="docs-section-main" id="{{ item.href }}">
	<h1>{{ item.title }}</h1>
	<div class="rest-block-info">
		<span class="rest-block-info-type">{{ item.type }}</span>
		<span class="rest-block-info-url">{{ item.rest }}</span>
	</div>

	<p>{{ item.paramsText }}</p>

	<h2>Parameters</h2>

	<div class="params-rest-block">
		{% if item.params != null %}

			<table>
			  <tr>
			    <td>Params</td>
			    <td>Required</td>
			    <td>Type</td>
			    <td>Description</td>
			  </tr>

				{% for param in item.params %}
				  	<tr>
				    	<td>{{ param.title }}</td>
				    	<td>{{ param.required }}</td>
				    	<td>{{ param.type }}</td>
				    	<td>{{ param.description }}</td>
				  	</tr>
				{% endfor %}

			</table>

		{% else %}
		  <h2>No params</h2>
		{% endif %}
	</div>

</div>