<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Steam token</title>
</head>
<body>

  <script>

	

    window.opener.postMessage({
      token: '{{ token }}'
    }, '*')

    window.close()
    
  </script>

</body>
</html>