<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/styles/styles.css">
	<style>
		.main-block{
			display: flex;
			width: 100%;
			min-height: 100vh;
		}
	</style>
</head>
<body>

	<div class="main-block">
		<h1>GGameplay api v1</h1>
	</div>
	
	<a href="//www.free-kassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/9.png" title="Прием платежей на сайте"></a>

</body>
</html>