@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins');
/*
	font-family: 'Poppins', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
*/
*{
	margin:0;
	padding:0;
	text-decoration: none;
}
body{
	overflow:hidden;
}
.view-docs{
	width:100vw;
	height:100vh;
	display: flex;
}
.view-docs-nav{
	display: flex;
	flex-direction: column;
    width: 270px;
    height: 100vh;
    background: rgb(234, 234, 234);
    border-right: 1px solid rgba(0, 0, 0, 0.18);
}
.view-docs-content{
	flex:1;
	height:100vh;
	padding: 10px;
	background: #eee;
	overflow-y: auto;
}
.title-block{
	padding:40px 20px 10px;
}
.title-block h1{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.48);
    font-family: 'Poppins', sans-serif;
}
.nav-list{
	flex:1;
	overflow-y: auto;
}
.footer-nav{
	padding:20px;
	display: flex;
	cursor: pointer;
	flex-direction: row;
	align-items: center;
	background: transparent;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.footer-nav:hover{
	background: rgba(50, 68, 132,0.079);
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.footer-nav i{
	margin-right: 5px;
	color: rgba(0,0,0,0.67);
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.footer-nav h2{
	font-size: 20px;
	color: rgba(0,0,0,0.67);
	font-family: 'Nunito Sans', sans-serif;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.nav-list a{
	display: block;
	background: transparent;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.nav-list a:hover{
	background: rgba(97, 114, 162, 0.55);
	color: rgba(255, 255, 255, 0.78);
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.nav-list a.sub-nav{
	display: block;
	background: transparent;
    padding: 5px 20px;
    margin-left:20px;
    color: rgba(0, 0, 0, 0.58);
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.nav-list a i{
    font-size: 15px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.41);
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.nav-list a:hover i{
    color: rgba(255, 255, 255, 0.78);
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.settings-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height:100vh;
	background: rgba(255, 255, 255, 0.95);
	position: fixed;
	top:0;left:0;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.settings-block-opened{
	visibility: visible;
	opacity: 1;
    transition:.2s all;
    -o-transition:.2s all;
    -webkit-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
}
.settings-block-content{
	width:50vw;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.35);
}
.settings-block-content-head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	border-bottom: 1px solid rgba(0,0,0,0.35);
}
.settings-block-content-head h3{
	font-size: 22px;
	color: rgba(0,0,0,0.67);
	font-family: 'Nunito Sans', sans-serif;
}
.settings-block-content-head i{
	cursor: pointer;
	color: rgba(0,0,0,0.67);
	font-size: 22px;
}
.settings-content{
	display: flex;
	flex-direction: row;
}
.settings-content-left{
	width:140px;
	display: flex;
	flex-direction: column;
	padding:10px;
	border-right:1px solid rgba(0,0,0,0.35);
}
.settings-content-left span{
	cursor: pointer;
	display: block;
	padding:5px 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 19px;
}
.settings-content-right{
	display: flex;
	flex-direction: column;
	flex:1;
	padding:10px;
}
.settings-content-right h2{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 19px;
}
.settings-content-right input{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display: block;
    color: rgba(0,0,0,0.67);
    padding: 0 10px;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.35);
    border-radius: 4px;
}
.docs-section-main{
    margin: 15px 0 15px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 20px;
    background: rgba(255,255,255,0.67);
}
.docs-section-main h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.58);
}
.docs-section-main h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin: 10px 0 0;
    color: rgba(0, 0, 0, 0.58);
}
.docs-section-main p{
    margin-top:10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.58);
}
.rest-block-info{
	display: flex;
	flex-direction: row;
	align-items: center;
}
span.rest-block-info-type{
    margin-right: 8px;
    display: block;
    padding: 4px 8px;
    background: rgba(70, 59, 132, 0.6);
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
span.rest-block-info-url{
	font-size: 20px;
    color: rgba(0, 0, 0, 0.46);
    font-family: 'Nunito Sans', sans-serif;
}
.params-rest-block table{
	width: 100%;
}
.params-rest-block table tr:nth-child(1){
	background: #8e87b3;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
.params-rest-block table tr{
	background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.49);
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
}
.params-rest-block table tr:nth-child(1) td:nth-child(1){
	border-right:1px solid #fff;
}
.params-rest-block table tr td{
	border:none;
	padding: 5px;
}