@import url('https://fonts.googleapis.com/css?family=Anton');

*{
	margin:0;
	padding:0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}
.particle-network-animation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: #171717;
}
.particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(http://web.frfr.me/dev/world-map-optimized.jpg);
    background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9);
    background-position: center center;
  	background-size: cover;
    opacity: 0.2;
}
.glow{
	position: relative;
	z-index: 100;
}
.title-app{
	position: absolute;
	top:0;left:0;
	width: 100%;
	height:100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-app h1{
	color: rgba(212, 212, 212, 0.61);
    font-size: 72px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0);
}